<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <style type="text/css">
        html, body {
            height: 100%;
        }
        /* body and headings styling were shamelessly stolen from http://bettermotherfuckingwebsite.com/ */
        body {
            box-sizing: border-box;
            margin: 0 auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 40px 10px;
            display: flex;
            flex-direction: column;
        }
        h1, h2, h3 {
            line-height: 1.2
        }
        main {
            flex: 1
        }
        table {
            width: 100%;
            border-collapse: separate;
            border: 0;
        }
        thead td {
            font-weight: bold;
        }

        #mainNavigation ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
        }

            #mainNavigation li {
                display: inline-block;
                padding-right: 5px;
            }
    </style>
</head>
<body>
    <header>
    </header>

    <main role="main">
        @RenderBody()
    </main>
    <footer id="mainFooter">
        @await Html.PartialAsync("MainNavigation", (WithSpec) Model)
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
