@{
    ViewData["Title"] = "Home";
}

@* TODO: add spec *@
<h1>Welcome to <strong>Bondora.Rental</strong></h1>
<p>
    Here you can rent some <a href="/Equipment/Index">construction equipment</a>.
    Feel free to browse the catalogue and order what you need.
    When finished, you can proceed with creating the invoice. 
    We will include prices for all equipment you have chosen.
    As a bonus, we will give you some loyalty points to encourage you to use our rental services again.
</p>