@{
    ViewData["Title"] = "Home";
}

@* TODO: add spec *@
<h1>Welcome to <strong>Bondora.Rental</strong></h1>
<p>
    Here you can rent some <a href="/Equipment/Index">construction equipment</a>.
    Feel free to browse the catalogue and order what you need.
    When finished, proceed to <a href="/Cart/Index">virtual cart</a> to confirm your order.
    Upon confirmation, you will get an invoice with prices for all equipment you have chosen.
    As a bonus, you will also get customer loyalty points depending on amount of ordered equipment.
</p>