@using Bondora.Rental.Web.Equipment

@model Equipment

<tr>
    <td>@Model.Name</td>
    <td>@Model.Type</td>
    <td><input type="number" /></td>
    <td><input type="button" value="Add to cart" /></td>
</tr>