@using Bondora.Rental.Web.Models

@* TODO: add spec *@

@{ ViewBag.Title = "Cart"; }

@model Cart

<h1>Cart</h1>
@if (Model.Count() == 0)
{
    <p>
        Your cart is empty.
        Fill it up by browsing our <a href="/Equipment/Index">construction equipment</a>.
    </p>
}
else
{
    <p>
        Here is the equipment you have chosen.
        When ready, confirm your order by clicking "Confirm" link.
        We will generate invoice with prices for all equipment, as well as some customer loyalty points.
    </p>
    <p style="display: flex; justify-content: space-between;">
        <a href="/Cart/Confirm" style="">Confirm</a>
        <a href="" id="clearCartLink">Clear cart</a>
    </p>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Rental days</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>@item.RentalDays</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script type="text/javascript">
        function clearCart(event) {
            event.preventDefault();
            document.cookie = "cart=" + encodeURI("[]") + ";path=/";
            location.reload(true);
        }
        var clearCartLink = document.getElementById('clearCartLink');
        if (clearCartLink) { clearCartLink.addEventListener('click', clearCart); }
    </script>
}